{% extends "base.html" %}
{% block content %}

    <h1>Da Playurz</h1>
    <br>
    <br>

    <h2>Draft new player:</h2>
    <form class="new-player" action="/players" method="post">
        <label for="name">Player Name: </label>
        <input type="text" name="name" id="name">
        <label for="race">Race: </label>
        <select name="race" id="race">
            <option value="" disabled selected>select player race</option>
            <option value="Daemon">Daemon</option>
            <option value="Dwarf">Dwarf</option>
            <option value="Elf">Elf</option>
            <option value="Goblin">Goblin</option>
            <option value="Halfling">Halfling</option>
            <option value="Human">Human</option>
            <option value="Orc">Orc</option>
            <option value="Treeman">Treeman</option>
            <option value="Troll">Troll</option>
            <option value="Undead">Undead</option>
        </select>
        <label for="position">Position: </label>
        <select name="position" id="position">
            <option value="" disabled selected>select player position</option>
            <option value="Blitzer">Blitzer</option>
            <option value="Blocker">Blocker</option>
            <option value="Catcher">Catcher</option>
            <option value="Coach">Coach</option>
            <option value="Lineman">Lineman</option>
            <option value="Runner">Runner</option>
            <option value="Star Player">Star Player</option>
            <option value="Thrower">Thrower</option>
        </select>
        <label for="special">Special: </label>
        <input type="text" name="special" id="special">
        <input type="submit" value="Add player to roster">
        <br>
        <hr>
      </form>
    
    

      {% for player in players %}

      <section class="players-format">
          <h3>{{ player.name }}</h3>
          <p>Race: {{ player.race }}, Team: {{ player.team.name }}
          </p>
          <p>Position: {{ player.position }}, Status: {{ player.status }}, Special: {{ player.special }}
          </p>
  
          
          <form action="/players/{{ player.id }}/edit">
            <input type="submit" value="Update Player attributes">
        </form>

          <form action="/players/{{ player.id }}/delete" method="POST">
              <input type="submit" value="Remove Player from roster">
          </form>

          <form action="/players/{{ player.id }}/player">
            <input type="submit" value="View Player's details">
        </form>
          <hr>
      </section>
  
      {% endfor %}


{% endblock %}