{% extends "base.html" %}
    {% block content %}

        <h2>Update a Game</h2>

        <form action="/games/{{ game.id }}" method="POST">
            <div>
                <label for="home_team_id">Home Team: </label>
                <select name="home_team_id" id="home_team_id">
                    <option value="{{ game.home_team.id }}"> {{ game.home_team.name }} (current)</option>
                        {% for team in teams %}
                    <option value="{{ team.id }}">
                        {{ team.name }}
                    </option>
                    {% endfor %}
                </select>
                <label for="home_team_score">Score:</label>
                <input type="text" id="home_team_score" name="home_team_score" value="{{ game.home_team_score }}">
            </div>
            <div>
                <label for="away_team_id">Away Team: </label>
                <select name="away_team_id" id="away_team_id">
                    <option value="{{ game.away_team.id }}"> {{ game.away_team.name }} (current)</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">
                        {{ team.name }}
                    </option>
                    {% endfor %}
                </select>
                <label for="away_team_score">Score:</label>
                <input type="text" id="away_team_score" name="away_team_score" value="{{ game.away_team_score }}">
            </div>
            <div>
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" value="{{ game.location }}">
                <label for="date">Date:</label>
                <input type="text" id="date" name="date" value="{{ game.date }}">
            </div>
                <input type="submit">
            </div>
        </form>

    {% endblock %}