{% extends "base.html" %}
    {% block content %}

        <h2>Games</h2>

            <h3>Call a new game:</h3>
            <form class="new-game" action="/games" method="post">
                <select name="home_team_id" id="home_team_id">
                    <option value="">Select home team to play</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                   {% endfor %}
                </select>
                <select name="away_team_id" id="away_team_id">
                    <option value="">Select away team to play against</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                   {% endfor %}
                </select>
                <label for="location">location: </label>
                <select name="location" id="location">
                    <option value="" disabled selected>select your location</option>
                    <option value="Abyssal Plain">Abyssal Plain</option>
                    <option value="Dracula's back garden">Dracula's back garden</option>
                    <option value="Dugrund's AstroTurf Palace">Dugrund's AstroTurf Palace</option>
                    <option value="Farmer Maggot's spare field">Farmer Maggot's spare field</option>
                    <option value="Pitch No.4">Pitch No.4</option>
                    <option value="The Imperial Arena">The Imperial Arena</option>
                </select>
                     <label for="date">Date:</label>
                     <input type="date" name="date" id="date" value="2493-11-17">
                 <input type="submit" value="Call game">
             </form>

        {% for game in games %}

        <section>
            <p>{{ game.home_team.name }}: score {{ game.home_team_score }} vs {{ game.away_team.name }}: score {{ game.away_team_score }}</p>
            <p>Game location: {{ game.location}}, Date: {{ game.date }}</p>
            <form action="/games/{{ game.id }}/edit">
                <input type="submit" value="Update fixture">
            </form>
    
              <form action="/games/{{ game.id }}/delete" method="POST">
                  <input type="submit" value="Call off the game">
              </form>
    
              <form action="/games/{{ game.id }}/teams">
                <input type="submit" value="Who's playing who">
            </form>
              <hr>

        {% endfor %}
    {% endblock %}