{% extends "base.html" %}
    {% block content %}

        <h2>Teams & Players</h2>

        <section>
            <h3>{{ game.home_team.name }} vs {{ game.away_team.name }}</h3>
            <h4>Home Team Players: </h4>
            {% for player in home_team_players %}
                <p>
                    {{ player.name }}
                </p>
            {% endfor %}
            <h4>Away Team Players: </h4>
            {% for player in away_team_players %}
                <p>
                    {{ player.name }}
                </p>
            {% endfor %}
            <a href="/games/{{ game.id }}/edit">Edit</a>
            <form action="/games/{{ game.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
            <a href="/games/{{ game.id }}"></a>
        </section>
{% endblock %}