{% extends "base.html" %}
{% block content %}
        <section class="section-background">
        <div class="news-background">

                <section class="text-align">
                <br>
                <h3 class="news">Da News</h3>
                <article class="article-news">
                    <h4><u>Auntie Grotbag's Mystery Meat Pies are back in stock!</u></h4>
                    <p>Auntie Grotbag's league famous mystery meat pies have made a savoury return!</p>
                    <p>The pies came back in stock shortly after last friday's game involving a rogue idol, with Auntie Grotbag stating meat in her new batch <i>"has never been so tender".</i></p>
                    <p>Many fans love the pies based on their varying flavour throughout the season.</p>
                    <p><i>Ainsley Parrot, Acorn News</i></p>
                    <hr>
                </article>
                <article class="article-news">
                    <h4><u>Rogue idol storms pitch</u></h4>
                    <p>
                        A rogue idol accidently brought to life by shamanic goblins, bouldered into the 'Valinor Lightfoots' vs 'Zog's Bashers' game last friday. Several players and spectators were crushed during the carnage.
                    </p>
                    <p>The referee has awarded 10 points to the Goblin team, 'Snotgut's Sneeky Nosepickers' for creativity even though they were not playing.</p>
                    <p><i>Acorn News</i></p>
                    <hr>
                </article>
                <article class="article-news">
                    <h4><u>Surprise mid season transfer!</u></h4>
                    <p>Human player Prince Harold Lightfoot-Bottom, made a surpirse transfer to the Undead Team, 'Transylvanian Nightmares' after last weeks Humans vs Undead derby game. Which some pundits have called a real game changer.</p>
                    <p>Prince Harold Lightfoot-Bottom will be known as "Headless Harold" when entering the pitch says coach Count V. Dracula MA(Hons).</p>
                    <p><i>Acorn News</i></p>
                    <hr>
                </article>
                <article class="article-news">
                    <h4><u>Banning of magical rings</u></h4>
                    <p>The Death Ball League Authority in conjuction with the College of Magic has determined that any rings of power (accounted for or otherwise) will have their use in future games severely restricted.</p>
                    <p>The sudden change in policy comes after last month's 'Buckland Buccaneers' vs 'Zog's Bashers' game, prompted the summoning of a dark lord. However, the match went ahead, giving the Halflings a ten point lead over their Orc rivals.</p>
                    <p><i>Death Ball League Authority</i></p>
                    <hr>
                </article>
                <article class="article-news">
                    <h4><u>Tear in astral plain during Deamons vs Goblins friendly</u></h4>
                    <p>A small tear in reality occured shortly before half-time during the friendly match, untineligible voices could be heard and several goblin players were pulled into the rift.</p>
                    <p>Coach ASHEUYW*&^R*ER(&(* for the Daemon team had this to say:</p>
                    <p><i>"£*%(W^£%^GFSF SDSDGIFSDF*^W*^*£%W HFG *(^$(£((3542 VSDKFGBJLKGH(^ (^%&£ V863 BVSD& *^% @BASD Y)!PLA (*^"</i></p>
                    <p><i>Acorn News</i></p>
                    <hr>
                    <br>
                </article>
            </section>


        </div>

    </section>



{% endblock %}